.userInput {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 2px;
}

.suggestions {
    margin: 0;
    padding-left: 0;
    list-style: none;
    box-shadow: 0 10px 24px rgba(33, 33, 33, 0.25), 0 7px 7px rgba(33, 33, 33, 0.22);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.suggestions li {
    padding: 10px;
}

.suggestions li:last-child {
    margin-bottom: 6px;
}

.suggestionActive {
    color: #414141;
    font-weight: 700;
}

.suggestionActive,
.suggestions li:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}

.noSuggestions {
    color: #999;
    padding: 0.5rem;
}

